<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rodent Inspection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
</head>

<p><img src="http://escolar.itam.mx/centro_tesis/img/Logo_Membrete_ITAM.png" alt="logo" width="250"/></p>

<body style="background-color:white;">

    <h1 style="text-align: center;"><span style="color: #000080;"><strong>Rodent Inspection Dashboard</strong></span></h1>

    <p align="center"><a href=show_all ><button class=grey style="height:75px;width:150px">Mostrar datos</button></a></p>
    <p align="center"><a href=prediction ><button class=grey style="height:75px;width:150px">Realizar predicción</button></a></p>
    <p align="center"><a href=add_register ><button class=grey style="height:75px;width:150px">Agregar registro</button></a></p>
    <p align="center"><a href=show_predictions ><button class=grey style="height:75px;width:150px">Mostrar predicciones</button></a></p>

</body>

</html>